<h1>Work</h1>

    <section id="portfolio">
        <div class="gallery">
            <div class="gallery-item">
                <%= image_tag("OIP.jpg") %>
                <p>Image Classification for inmates using YOLO</p>
            </div>
            <div class="gallery-item">
                <%= image_tag("Screenshot 2024-04-29 183018.png") %>
                <p>CLIP Model Analysis using Plotly Dash</p>
            </div>        
            <div class="gallery-item">
                <%= image_tag("SQL-Server-Sample-Database.png") %>
                <p>Relational Databse project using MySQL</p>
            </div>      
        </div>
    </section>

<h2>Skills Used</h2>

<p> Proficiency in deep learning frameworks in TensorFlow.
Understanding of object detection algorithms, particularly YOLO (You Only Look Once).
Knowledge of GUI development using libraries like Tkinter for YOLO model.
Knowledge of Plotly Dash for building interactive web applications.
Skills in data visualization using Plotly and other libraries.
Proficiency in SQL (Structured Query Language) for database management. <p>
<%= link_to "Home", home_path %>
<%= link_to "About", about_path %>
<%= link_to "Work", work_path %>
<%= link_to "Contact", contact_path %>